#testdiv {
  display: inline-block;
  position: fixed;
  top: 10px;
  right: 10px;
}

#bitmatch {
  display: inline-block;
  position: fixed;
  top: 10px;
  right: 500px;
  background-color: #D0FFFF;
  padding:5px;
}

#behaviorbox {
  display: inline-block;
  position: fixed;
  top: 100px;
  right: 500px;
  background-color: #FFFFD0;
  padding:5px;
}

.arrayedit0 {
  color:green;
}
.arrayedit1 {
  color:red;
}
.arrayedit2 {
  color:blue;
}

.matched {
  background-color: #FFB0B0;
}

.behave input {
  width: 300px;
}

