table {
  font-family: Courier New;
  font-size: 8pt;
  border-spacing: 0px;
  border-collapse: collapse;
  background-color: #f0f0f0;
}

#viewport {
  width: 900px
}

#controlbox {
  float: right
}

#xviroot {
  border-spacing: 2px;
}

#xviroot > tbody > tr > td {
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.stealhinput {
  margin: 0px;
  background-color: #f0f0f0;
  border: 0px;
  font-family: Courier New;
  font-size: 8pt;
}

#dropzone {
  width: 100%;
  height: 110px;
  font-family: Courier New;
  font-size: 14px;
  padding-top: 85px;
  text-align: center;
  border-style: dashed;
  margin-top: 50px;
  border-color: #c0c0c0;
  color: #c0c0c0;
}

td {
  border-style: solid;
  border-width: 1px;
  border-color: #c0c0c0;
  height: 19px;
  cursor: default;
}

.incurrentcl {
  background-color: #ffd0d0;
}

.inpastcl {
  background-color: #ffd080;
}

.selected {
  background-color: #3399ff;
  color: white;
  border-color: black;
  border-style: double;
  border-width: 1px;
}

.mselected {
  background-color: #3399ff;
  color: white;
}

.tselected {
  background-color: white;
}

#hexdata td {
  width: 16px;
  text-align: center;
}

#rawdata td {
  width: 9px;
  text-align: center;
}

#numbers {
  width: 60px;
  text-align: right;
}

