table {
  font-family: Courier New;
  font-size: 8pt;
  border-spacing: 0px;
  border-collapse: collapse;
  background-color: #f0f0f0;
}

#xviroot {
  border-spacing: 2px;
}

#xviroot > tbody > tr > td {
  border-style: solid;
  border-width: 1px;
  border-color: black;
}


td {
  border-style: solid;
  border-width: 1px;
  border-color: #c0c0c0;
  height: 19px;
  cursor: default;
}

.selected {
  background-color: #3399ff;
  color: white;
  border-color: black;
  border-style: double;
  border-width: 1px;
}

.mselected {
  background-color: #3399ff;
  color: white;
}

.tselected {
  background-color: white;
}

#hexdata td {
  width: 16px;
  text-align: center;
}

#rawdata td {
  width: 9px;
  text-align: center;
}

#numbers {
  width: 60px;
  text-align: right;
}

