.block {
  background-color: white;
}

/* graph block */
.gblock {
  position: absolute;
  display: inline-block;
  border: solid;
  border-color: black;
  border-width: 1px;
  -webkit-box-shadow: 4px 4px 4px gray;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

#frequency {
  font: 12px Courier New;
}

#core {
  margin: 5px;
  float: left;
  display: inline-block;
  z-index: 10;
}

#iview {
  float: left;
  margin-top: 10px;
  z-index: 10;
}

#changelist {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 150px;
  height: 200px;
  font: 12px Courier New;
}

#changes {
  width: 100px;
  z-index: 11;
  font: 12px Courier New;
}

.change {
  z-index: 11;
}

#registers {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  display: inline-block;
  font: 12px Courier New;
  background-color: white;
}

#minicanvas {
  position: absolute;
  top: 5px;
  left: 5px;
}

#miniframe {
  position: absolute;
  top: 5px;
  left: 5px;
}

#minimap {
  z-index: 2;
  position: relative;
  display: none;
  background-color: white;
  border: solid;
  border-color: black;
  border-width: 1px;
  padding: 5px;
  margin: 5px;
  display: inline-block;
  float: right;
}

.line {
  font: 12px Courier New;
  display: block;
  /*font-family: monospace;*/
}

.line_selected {
  background-color: #FFE0E0;
}

.i_location.location_selected {
  background-color: orange;
}

.i_corelocation.location_selected {
  background-color: thistle;
}

.i_deref.location_selected {
  background-color: violet;
}

.comment {
  color: blue;
  padding-left: 30px;
}

body {
  /*background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#E0F8FF));*/
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#FFF8E0));
  overflow: hidden;
}


