.i_tab {
  width: 60px;
  float: left;
}

.i_opcode {
  color: navy;
}

.i_condition {
  color: purple;
}

.i_flags {
  color: purple;
}

.i_immed {
  color: green;
}

.i_address {
  color: #A03327;
}

.i_deref {
  color: #996600;
}

.i_location {
  color: darkslateblue;
}

.i_corelocation {
  color: #D08500;
}

.comment {
  color: #0000FF;
}

.i_dump {
  color: #0000FF;
}

.f_A {
  color: blue;
}

.f_O {
  color: green;
}

.f_C {
  color: orange;
}

.f_R {
  color: gray;
}
